.order-card {
  border-radius: 1rem;

  background-image: "https://b.kisscc0.com/20180517/rhq/kisscc0-parking-transport-car-park-house-traffic-5afd7a09a9a3a4.2002531015265612896949.jpg";
  box-shadow: 2px 2px 5px 5px rgb(179, 178, 178);
}
body {
  background-color: rgb(239, 241, 241);
}
.co-first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  width: 100%;
}
.order-card {
  padding: 5px;
  margin: 1rem;
  width: 18rem;
}
.order-card:hover {
  box-shadow: 5px 5px 10px 10px rgb(179, 178, 178);
}
