.navbar li a {
	transition: all 0.35s;
}

.navbar li a:hover {
	border-bottom: 2px solid #f8e71c;
}

@media (min-width: 1000px) {
	.navbar .nav-item {
		margin-right: 10px;
	}
}

.modal label {
	font-weight: bold;
	margin-left: auto;
}

#LoginCustomerModal .modal-header h3 {
	margin-left: 40%;
}

#RegisterCustomerModal .modal-header h3 {
	margin-left: 30%;
}

.modal-header {
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.modal-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.modal-footer,
.modal-header {
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Edit profile modal css */

.profilePhotoContainer {
	cursor: pointer;
}

.profilePhotoContainer:hover > .profilePhoto {
	opacity: 0.4;
}
.profilePhotoContainer:hover > #cameraIconSvg {
	display: block;
}

.userProfilePhoto {
	display: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.profilePhoto {
	/* position: relative; */
	/* cursor: pointer; */
	background-image: url("http://placehold.it/400x200");
	/* text-align: center; */
}

#cameraIconSvg {
	display: none;
	position: absolute;
	font-size: 50px;
	align-self: center;
	z-index: 100;
	padding-top: 40px;
	padding-left: 50px;
	/* cursor: pointer; */
}
